In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.metrics.pairwise import cosine_similarity
warnings.filterwarnings('ignore')

In [3]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

In [4]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [5]:
movies['title'] = movies['title'].str[:-7].str.lower()

In [6]:
movies

,movieId,title,genres
0,1,toy story,Adventure|Animation|Children|Comedy|Fantasy
1,2,jumanji,Adventure|Children|Fantasy
2,3,grumpier old men,Comedy|Romance
3,4,waiting to exhale,Comedy|Drama|Romance
4,5,father of the bride part ii,Comedy
...,...,...,...
9737,193581,black butler: book of the atlantic,Action|Animation|Comedy|Fantasy
9738,193583,no game no life: zero,Animation|Comedy|Fantasy
9739,193585,flint,Drama
9740,193587,bungo stray dogs: dead apple,Action|Animation
9741,193609,andrew dice clay: dice rules,Comedy

In [7]:
movies[movies['title']=="emperor's new groove, the"]

,movieId,title,genres
3000,4016,"emperor's new groove, the",Adventure|Animation|Children|Comedy|Fantasy

In [8]:
mlb = MultiLabelBinarizer()
dummies = pd.DataFrame(mlb.fit_transform(movies['genres'].str.split("|")),columns=mlb.classes_, index=movies.index)
dummies

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9738,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9739,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
9740,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9741,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [9]:
movies = movies.join(dummies).drop(columns=['genres'])

In [10]:
movies

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,toy story,0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,jumanji,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,grumpier old men,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,waiting to exhale,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,5,father of the bride part ii,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,black butler: book of the atlantic,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9738,193583,no game no life: zero,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9739,193585,flint,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9740,193587,bungo stray dogs: dead apple,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9741,193609,andrew dice clay: dice rules,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
similarity = cosine_similarity(movies.drop(columns=['movieId','title']))

In [12]:
similarity_df = pd.DataFrame(similarity, index=movies['title'],columns=movies['title'])
similarity_df

title,toy story,jumanji,grumpier old men,waiting to exhale,father of the bride part ii,heat,sabrina,tom and huck,sudden death,goldeneye,...,gintama: the movie,anohana: the flower we saw that day - the movie,silver spoon,love live! the school idol movie,jon stewart has left the building,black butler: book of the atlantic,no game no life: zero,flint,bungo stray dogs: dead apple,andrew dice clay: dice rules
title,,,,,,,,,,,,,,,,,,,,,
toy story,1.000000,0.774597,0.316228,0.258199,0.447214,0.000000,0.316228,0.632456,0.000000,0.258199,...,0.447214,0.316228,0.316228,0.447214,0.0,0.670820,0.774597,0.00000,0.316228,0.447214
jumanji,0.774597,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.816497,0.000000,0.333333,...,0.000000,0.000000,0.000000,0.000000,0.0,0.288675,0.333333,0.00000,0.000000,0.000000
grumpier old men,0.316228,0.000000,1.000000,0.816497,0.707107,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.353553,0.000000,0.500000,0.000000,0.0,0.353553,0.408248,0.00000,0.000000,0.707107
waiting to exhale,0.258199,0.000000,0.816497,1.000000,0.577350,0.000000,0.816497,0.000000,0.000000,0.000000,...,0.288675,0.408248,0.816497,0.000000,0.0,0.288675,0.333333,0.57735,0.000000,0.577350
father of the bride part ii,0.447214,0.000000,0.707107,0.577350,1.000000,0.000000,0.707107,0.000000,0.000000,0.000000,...,0.500000,0.000000,0.707107,0.000000,0.0,0.500000,0.577350,0.00000,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
black butler: book of the atlantic,0.670820,0.288675,0.353553,0.288675,0.500000,0.288675,0.353553,0.000000,0.500000,0.288675,...,0.750000,0.353553,0.353553,0.500000,0.0,1.000000,0.866025,0.00000,0.707107,0.500000
no game no life: zero,0.774597,0.333333,0.408248,0.333333,0.577350,0.000000,0.408248,0.000000,0.000000,0.000000,...,0.577350,0.408248,0.408248,0.577350,0.0,0.866025,1.000000,0.00000,0.408248,0.577350
flint,0.000000,0.000000,0.000000,0.577350,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.707107,0.707107,0.000000,0.0,0.000000,0.000000,1.00000,0.000000,0.000000
bungo stray dogs: dead apple,0.316228,0.000000,0.000000,0.000000,0.000000,0.408248,0.000000,0.000000,0.707107,0.408248,...,0.707107,0.500000,0.000000,0.707107,0.0,0.707107,0.408248,0.00000,1.000000,0.000000
andrew dice clay: dice rules,0.447214,0.000000,0.707107,0.577350,1.000000,0.000000,0.707107,0.000000,0.000000,0.000000,...,0.500000,0.000000,0.707107,0.000000,0.0,0.500000,0.577350,0.00000,0.000000,1.000000

In [13]:
search = input("Enter the title of your favorite movie: ").lower()

Enter the title of your favorite movie:  elf

In [14]:
search_results = similarity_df.loc[search].sort_values(ascending=False).head(21).index.to_list()[1:]

In [15]:
search_results

['how the grinch stole christmas (a.k.a. the grinch)',
 'freaky friday',
 'stuart little',
 'elf',
 'flubber',
 'addams family values',
 'pinocchio',
 'flintstones, the',
 'addams family, the',
 'like mike',
 'life-size',
 'kazaam',
 'gordy',
 'freaky friday',
 'long live ghosts!',
 'nanny mcphee',
 'absent-minded professor, the',
 'aquamarine',
 'matilda',
 'casper meets wendy']

In [16]:
ratings.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [17]:
avg_rating = ratings[['movieId','rating']].groupby('movieId').mean()
avg_rating

           rating
movieId
1        3.920930
2        3.431818
3        3.259615
4        2.357143
5        3.071429
...           ...
193581   4.000000
193583   3.500000
193585   3.500000
193587   3.500000
193609   4.000000

[9724 rows x 1 columns]

In [18]:
movies_rated = movies[['title','movieId']].merge(avg_rating, how='inner', on='movieId')
movies_rated

                                   title  movieId    rating
0                              toy story        1  3.920930
1                                jumanji        2  3.431818
2                       grumpier old men        3  3.259615
3                      waiting to exhale        4  2.357143
4            father of the bride part ii        5  3.071429
...                                  ...      ...       ...
9719  black butler: book of the atlantic   193581  4.000000
9720               no game no life: zero   193583  3.500000
9721                               flint   193585  3.500000
9722        bungo stray dogs: dead apple   193587  3.500000
9723        andrew dice clay: dice rules   193609  4.000000

[9724 rows x 3 columns]

In [19]:
m = {}
for s in search_results:
    m[s] = movies_rated[movies_rated['title']==s]['rating'].values[0]
top10 = list(sorted(m.items(), key=lambda item: item[1], reverse = True))[:10]
top10

[('casper meets wendy', 4.5),
 ('life-size', 4.0),
 ('elf', 3.6923076923076925),
 ('pinocchio', 3.45),
 ('absent-minded professor, the', 3.388888888888889),
 ('addams family, the', 3.289473684210526),
 ('matilda', 3.272727272727273),
 ('nanny mcphee', 3.1666666666666665),
 ('addams family values', 3.1011904761904763),
 ('how the grinch stole christmas (a.k.a. the grinch)', 3.0454545454545454)]

In [20]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [21]:
matrix = ratings.pivot_table(columns='movieId', index='userId', values='rating').fillna(0)
matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
movies[movies['title']=='mean girls']

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
4944,7451,mean girls,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
user_similarity_df = pd.DataFrame(cosine_similarity(matrix), index=matrix.index, columns=matrix.index)
user_similarity_df

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.027283,0.059720,0.194395,0.129080,0.128152,0.158744,0.136968,0.064263,0.016875,...,0.080554,0.164455,0.221486,0.070669,0.153625,0.164191,0.269389,0.291097,0.093572,0.145321
2,0.027283,1.000000,0.000000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
3,0.059720,0.000000,1.000000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119
4,0.194395,0.003726,0.002251,1.000000,0.128659,0.088491,0.115120,0.062969,0.011361,0.031163,...,0.085938,0.128273,0.307973,0.052985,0.084584,0.200395,0.131746,0.149858,0.032198,0.107683
5,0.129080,0.016614,0.005020,0.128659,1.000000,0.300349,0.108342,0.429075,0.000000,0.030611,...,0.068048,0.418747,0.110148,0.258773,0.148758,0.106435,0.152866,0.135535,0.261232,0.060792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.164191,0.028429,0.012993,0.200395,0.106435,0.102123,0.200035,0.099388,0.075898,0.088963,...,0.178084,0.116534,0.300669,0.066032,0.148141,1.000000,0.153063,0.262558,0.069622,0.201104
607,0.269389,0.012948,0.019247,0.131746,0.152866,0.162182,0.186114,0.185142,0.011844,0.010451,...,0.092525,0.199910,0.203540,0.137834,0.118780,0.153063,1.000000,0.283081,0.149190,0.139114
608,0.291097,0.046211,0.021128,0.149858,0.135535,0.178809,0.323541,0.187233,0.100435,0.077424,...,0.158355,0.197514,0.232771,0.155306,0.178142,0.262558,0.283081,1.000000,0.121993,0.322055
609,0.093572,0.027565,0.000000,0.032198,0.261232,0.214234,0.090840,0.423993,0.000000,0.021766,...,0.035653,0.335231,0.061941,0.236601,0.097610,0.069622,0.149190,0.121993,1.000000,0.053225
610,0.145321,0.102427,0.032119,0.107683,0.060792,0.052668,0.193219,0.078153,0.074399,0.121072,...,0.222491,0.087528,0.163094,0.052552,0.119295,0.201104,0.139114,0.322055,0.053225,1.000000

In [24]:
item_similarity_df = pd.DataFrame(cosine_similarity(matrix.T), index=matrix.columns, columns=matrix.columns)
item_similarity_df

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
movieId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.410562,0.296917,0.035573,0.308762,0.376316,0.277491,0.131629,0.232586,0.395573,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.410562,1.000000,0.282438,0.106415,0.287795,0.297009,0.228576,0.172498,0.044835,0.417693,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.296917,0.282438,1.000000,0.092406,0.417802,0.284257,0.402831,0.313434,0.304840,0.242954,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.035573,0.106415,0.092406,1.000000,0.188376,0.089685,0.275035,0.158022,0.000000,0.095598,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.308762,0.287795,0.417802,0.188376,1.000000,0.298969,0.474002,0.283523,0.335058,0.218061,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
193583,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
193585,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
193587,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
193609,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.072542,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [25]:
user_search_results = user_similarity_df.loc[1].sort_values(ascending=False).head(21)
user_search_results

userId
1      1.000000
266    0.357408
313    0.351562
368    0.345127
57     0.345034
91     0.334727
469    0.330664
39     0.329782
288    0.329700
452    0.328048
45     0.327922
19     0.325376
590    0.324766
135    0.323971
330    0.322101
480    0.320775
217    0.320713
577    0.317319
561    0.315254
64     0.315212
597    0.312843
Name: 1, dtype: float64

##### The above are all users who give similar ratings as user 1, if first user has never rated an item before, could use similar users ratings to show if they would enjoy

In [26]:
item_search_results = item_similarity_df.loc[7451].sort_values(ascending=False).head(21)
item_search_results

movieId
7451     1.000000
4447     0.559082
6936     0.533148
6155     0.511683
8376     0.504134
3882     0.499174
86833    0.494760
7346     0.484799
52973    0.482035
8807     0.477346
88405    0.471092
4246     0.467713
61024    0.466002
34162    0.463476
8464     0.455872
6863     0.455685
7293     0.454508
6188     0.450050
80549    0.447312
5991     0.447243
45720    0.446256
Name: 7451, dtype: float64

In [27]:
m = []
res = item_search_results.index.to_list()[1:]
for r in res:
    m.append(movies[movies['movieId']==r]['title'])
m

[3287    legally blonde
 Name: title, dtype: object,
 4641    elf
 Name: title, dtype: object,
 4227    how to lose a guy in 10 days
 Name: title, dtype: object,
 5173    napoleon dynamite
 Name: title, dtype: object,
 2899    bring it on
 Name: title, dtype: object,
 7605    bridesmaids
 Name: title, dtype: object,
 4901    girl next door, the
 Name: title, dtype: object,
 6481    knocked up
 Name: title, dtype: object,
 5309    harold and kumar go to white castle
 Name: title, dtype: object,
 7655    friends with benefits
 Name: title, dtype: object,
 3157    bridget jones's diary
 Name: title, dtype: object,
 6817    pineapple express
 Name: title, dtype: object,
 5938    wedding crashers
 Name: title, dtype: object,
 5200    super size me
 Name: title, dtype: object,
 4608    school of rock
 Name: title, dtype: object,
 4867    50 first dates
 Name: title, dtype: object,
 4245    old school
 Name: title, dtype: object,
 7416    easy a
 Name: title, dtype: object,
 4161    chicago
 Name: title, dtype: object,
 6220    devil wears prada, the
 Name: title, dtype: object]

In [28]:
user_ratings = ratings[ratings['userId']==1].drop(columns = ['userId','timestamp']).reset_index(drop=True)
user_ratings

     movieId  rating
0          1     4.0
1          3     4.0
2          6     4.0
3         47     5.0
4         50     5.0
..       ...     ...
227     3744     4.0
228     3793     5.0
229     3809     4.0
230     4006     4.0
231     5060     5.0

[232 rows x 2 columns]

In [29]:
user_genre_matrix = pd.merge(user_ratings, movies, on="movieId").drop(columns=['rating']).reset_index(drop=True)
user_genre_matrix

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,toy story,0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,grumpier old men,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2,6,heat,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,47,seven (a.k.a. se7en),0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,50,"usual suspects, the",0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,3744,shaft,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
228,3793,x-men,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
229,3809,what about bob?,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
230,4006,transformers: the movie,0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
231,5060,m*a*s*h (a.k.a. mash),0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [30]:
feature_set = user_genre_matrix.drop(columns=['title','movieId']).mul(user_ratings['rating'], axis='rows')
feature_set

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0.0,0.0,4.0,4.0,4.0,4.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
2,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
228,0.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
229,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
230,0.0,0.0,4.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
231,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0

In [31]:
from sklearn import preprocessing

user_profile = feature_set.sum().to_frame()
x = user_profile.values
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
user_profile['scaled'] = x_scaled
user_profile

                        0    scaled
(no genres listed)    0.0  0.000000
Action              389.0  1.000000
Adventure           373.0  0.958869
Animation           136.0  0.349614
Children            191.0  0.491003
Comedy              355.0  0.912596
Crime               196.0  0.503856
Documentary           0.0  0.000000
Drama               308.0  0.791774
Fantasy             202.0  0.519280
Film-Noir             5.0  0.012853
Horror               59.0  0.151671
IMAX                  0.0  0.000000
Musical             103.0  0.264781
Mystery              75.0  0.192802
Romance             112.0  0.287918
Sci-Fi              169.0  0.434447
Thriller            228.0  0.586118
War                  99.0  0.254499
Western              30.0  0.077121

In [51]:
user_not_watched = movies.merge(user_ratings.drop_duplicates(), on=['movieId'],how='left', indicator=True)
user_not_watched = user_not_watched[user_not_watched['_merge'] == 'left_only'].set_index('movieId').drop(columns = ['_merge'])

In [52]:
user_not_watched

,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,rating
movieId,,,,,,,,,,,,,,,,,,,,,
2,jumanji,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,waiting to exhale,0,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,NaN
5,father of the bride part ii,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
7,sabrina,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,NaN
8,tom and huck,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,black butler: book of the atlantic,0,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
193583,no game no life: zero,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
193585,flint,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,NaN
193587,bungo stray dogs: dead apple,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
193609,andrew dice clay: dice rules,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [53]:
recs_feature_set

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movieId,,,,,,,,,,,,,,,,,,,,
2,0.0,0.0,0.958869,0.000000,0.491003,0.000000,0.0,0.0,0.000000,0.51928,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
4,0.0,0.0,0.000000,0.000000,0.000000,0.912596,0.0,0.0,0.791774,0.00000,0.0,0.0,0.0,0.0,0.0,0.287918,0.0,0.0,0.0,0.0
5,0.0,0.0,0.000000,0.000000,0.000000,0.912596,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
7,0.0,0.0,0.000000,0.000000,0.000000,0.912596,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.287918,0.0,0.0,0.0,0.0
8,0.0,0.0,0.958869,0.000000,0.491003,0.000000,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,1.0,0.000000,0.349614,0.000000,0.912596,0.0,0.0,0.000000,0.51928,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
193583,0.0,0.0,0.000000,0.349614,0.000000,0.912596,0.0,0.0,0.000000,0.51928,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.791774,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
193587,0.0,1.0,0.000000,0.349614,0.000000,0.000000,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.000000,0.000000,0.000000,0.912596,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

In [54]:
recs_feature_set = user_not_watched.drop(columns=['title','rating']).mul(user_profile['scaled'])
user_not_watched['rating'] = recs_feature_set.sum(axis=1)
user_not_watched

,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,rating
movieId,,,,,,,,,,,,,,,,,,,,,
2,jumanji,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.969152
4,waiting to exhale,0,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,1.992288
5,father of the bride part ii,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.912596
7,sabrina,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1.200514
8,tom and huck,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.449871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,black butler: book of the atlantic,0,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2.781491
193583,no game no life: zero,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1.781491
193585,flint,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0.791774
193587,bungo stray dogs: dead apple,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.349614
193609,andrew dice clay: dice rules,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.912596

In [55]:
user_not_watched.sort_values(by=['rating'],ascending=False).head(10)

,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,rating
movieId,,,,,,,,,,,,,,,,,,,,,
81132,rubber,0,1,1,0,0,1,1,0,1,...,1,0,0,1,0,0,1,0,1,5.187661
117646,dragonheart 2: a new beginning,0,1,1,0,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,4.768638
71999,aelita: the queen of mars (aelita),0,1,1,0,0,0,0,0,1,...,0,0,0,0,1,1,1,0,0,4.578406
4956,"stunt man, the",0,1,1,0,0,1,0,0,1,...,0,0,0,0,1,0,1,0,0,4.537275
4719,osmosis jones,0,1,0,1,0,1,1,0,1,...,0,0,0,0,1,0,1,0,0,4.431877
164226,maximum ride,0,1,1,0,0,1,0,0,0,...,0,0,0,0,0,1,1,0,0,4.411311
6902,interstate 60,0,0,1,0,0,1,0,0,1,...,0,0,0,1,0,1,1,0,0,4.395887
52462,aqua teen hunger force colon movie film for th...,0,1,1,1,0,1,0,0,0,...,0,0,0,1,0,1,0,0,0,4.367609
546,super mario bros.,0,1,1,0,1,1,0,0,0,...,0,0,0,0,0,1,0,0,0,4.316195
31367,"chase, the",0,1,1,0,0,1,1,0,0,...,0,0,0,0,1,0,1,0,0,4.249357

##### Above are top 10 movies suggested to user 1 based on their ratings of previous movies defined by their genre

In [36]:
user_ratings.sort_values(by=['rating'],ascending=False).head(10).index.to_list()[1:]
m = []
res = user_ratings.sort_values(by=['rating'],ascending=False).head(10)['movieId'].values
for r in res:
    m.append(movies[movies['movieId']==r]['title'])
m

[3673    m*a*s*h (a.k.a. mash)
 Name: title, dtype: object,
 2157    excalibur
 Name: title, dtype: object,
 990    indiana jones and the last crusade
 Name: title, dtype: object,
 996    pink floyd: the wall
 Name: title, dtype: object,
 2219    from russia with love
 Name: title, dtype: object,
 2218    goldfinger
 Name: title, dtype: object,
 2216    dirty dozen, the
 Name: title, dtype: object,
 2182    gulliver's travels
 Name: title, dtype: object,
 2145    american beauty
 Name: title, dtype: object,
 2028    south park: bigger, longer and uncut
 Name: title, dtype: object]

In [37]:
user_1_sim = user_similarity_df[1][1:].to_frame()
sim15 = user_1_sim.sort_values(by = [1], ascending = False)[0:15].rename(columns={1:"sim_to_user"})

In [38]:
sim15

        sim_to_user
userId
266        0.357408
313        0.351562
368        0.345127
57         0.345034
91         0.334727
469        0.330664
39         0.329782
288        0.329700
452        0.328048
45         0.327922
19         0.325376
590        0.324766
135        0.323971
330        0.322101
480        0.320775

In [39]:
user_not_watched

,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,rating
movieId,,,,,,,,,,,,,,,,,,,,,
2,jumanji,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.969152
4,waiting to exhale,0,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,1.992288
5,father of the bride part ii,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.912596
7,sabrina,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1.200514
8,tom and huck,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.449871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,black butler: book of the atlantic,0,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2.781491
193583,no game no life: zero,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1.781491
193585,flint,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0.791774
193587,bungo stray dogs: dead apple,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.349614
193609,andrew dice clay: dice rules,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.912596

In [40]:
sim15_ratings = pd.merge(sim15, ratings, on="userId").drop(columns=['timestamp'])
sim15_ratings

      userId  sim_to_user  movieId  rating
0        266     0.357408        1     2.0
1        266     0.357408        6     4.0
2        266     0.357408       16     5.0
3        266     0.357408       17     1.0
4        266     0.357408       21     4.0
...      ...          ...      ...     ...
7049     480     0.320775    49651     4.0
7050     480     0.320775    51255     4.0
7051     480     0.320775    51662     4.0
7052     480     0.320775    52973     4.5
7053     480     0.320775    53000     3.5

[7054 rows x 4 columns]

##### sim15_rating is a dataframe of the top 15 users with closest similarity to user 1 and what they've rated other movies, below the weighted rating is being calculated by multiplying the similarty to the users rating, finally the possible rating for user 1 is calculated by first finding the sum of all ratings for a movie and dividing it by the sum of the similarty to all users who rated that movie

In [41]:
sim15_ratings['weighted_rating'] = sim15_ratings['sim_to_user']*sim15_ratings['rating']

In [42]:
sim15_ratings = sim15_ratings.groupby('movieId').sum()
sim15_ratings

         userId  sim_to_user  rating  weighted_rating
movieId
1          2770     3.642444    42.5        14.044070
2          1933     2.281416    18.0         5.869014
3          2166     2.302572    21.5         7.077028
5           923     0.982387     7.0         2.292697
6          2679     3.037985    33.5        11.297023
...         ...          ...     ...              ...
79132       330     0.322101     5.0         1.610505
79702       330     0.322101     5.0         1.610505
81591       590     0.324766     4.0         1.299065
81834       590     0.324766     4.0         1.299065
82459       590     0.324766     4.0         1.299065

[2499 rows x 4 columns]

In [43]:
sim15_ratings['possible_rating'] = sim15_ratings['weighted_rating']/sim15_ratings['sim_to_user']
sim15_ratings

         userId  sim_to_user  rating  weighted_rating  possible_rating
movieId
1          2770     3.642444    42.5        14.044070         3.855672
2          1933     2.281416    18.0         5.869014         2.572531
3          2166     2.302572    21.5         7.077028         3.073532
5           923     0.982387     7.0         2.292697         2.333801
6          2679     3.037985    33.5        11.297023         3.718591
...         ...          ...     ...              ...              ...
79132       330     0.322101     5.0         1.610505         5.000000
79702       330     0.322101     5.0         1.610505         5.000000
81591       590     0.324766     4.0         1.299065         4.000000
81834       590     0.324766     4.0         1.299065         4.000000
82459       590     0.324766     4.0         1.299065         4.000000

[2499 rows x 5 columns]

In [44]:
sim15_ratings = sim15_ratings.merge(movies, on = 'movieId')[['movieId','title','possible_rating']]
sim15_ratings[sim15_ratings['possible_rating'] > 4.49]

      movieId                                          title  possible_rating
30         50                            usual suspects, the         4.500224
49        101                                  bottle rocket         5.000000
123       296                                   pulp fiction         4.542617
236       527                               schindler's list         4.875131
254       562                       welcome to the dollhouse         4.500000
...       ...                                            ...              ...
2471    61240  let the right one in (låt den rätte komma in)         5.000000
2480    68157                           inglourious basterds         4.748970
2488    71535                                     zombieland         5.000000
2494    79132                                      inception         5.000000
2495    79702                    scott pilgrim vs. the world         5.000000

[140 rows x 3 columns]

##### Above is a dataframe of all the movies witha 4.5 or higher possible rating for user 1

In [56]:
user_not_watched = user_not_watched.merge(sim15_ratings, on = ['movieId','title'])

In [58]:
user_not_watched['avg_poss_rating'] = user_not_watched[['rating', 'possible_rating']].mean(axis=1)

In [59]:
user_not_watched

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,rating,possible_rating,avg_poss_rating
0,2,jumanji,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,1.969152,2.572531,2.270841
1,5,father of the bride part ii,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0.912596,2.333801,1.623199
2,7,sabrina,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,1.200514,2.501948,1.851231
3,10,goldeneye,0,1,1,0,0,0,0,0,...,0,0,0,0,1,0,0,2.544987,3.202079,2.873533
4,11,"american president, the",0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,1.992288,3.000000,2.496144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2274,79132,inception,0,1,0,0,0,0,1,0,...,0,1,0,1,1,0,0,3.508997,5.000000,4.254499
2275,79702,scott pilgrim vs. the world,0,1,0,0,0,1,0,0,...,1,0,1,0,0,0,0,2.984576,5.000000,3.992288
2276,81591,black swan,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1.377892,4.000000,2.688946
2277,81834,harry potter and the deathly hallows: part 1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2.478149,4.000000,3.239075
2278,82459,true grit,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0.077121,4.000000,2.038560

In [62]:
user_not_watched.sort_values(by=['avg_poss_rating'],ascending=False).head(10)

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,rating,possible_rating,avg_poss_rating
2274,79132,inception,0,1,0,0,0,0,1,0,...,0,1,0,1,1,0,0,3.508997,5.000000,4.254499
2184,48774,children of men,0,1,1,0,0,0,0,0,...,0,0,0,1,1,0,0,3.771208,4.500000,4.135604
2275,79702,scott pilgrim vs. the world,0,1,0,0,0,1,0,0,...,1,0,1,0,0,0,0,2.984576,5.000000,3.992288
2193,49530,blood diamond,0,1,1,0,0,0,1,0,...,0,0,0,0,1,1,0,4.095116,3.745363,3.920239
1980,8961,"incredibles, the",0,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,3.712082,4.102953,3.907518
1512,4306,shrek,0,0,1,1,1,1,0,0,...,0,0,1,0,0,0,0,3.519280,4.290421,3.904851
2233,57669,in bruges,0,0,0,0,0,1,1,0,...,0,0,0,0,1,0,0,2.794344,5.000000,3.897172
1713,5540,clash of the titans,0,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,2.766067,5.000000,3.883033
1055,2890,three kings,0,1,1,0,0,1,0,0,...,0,0,0,0,0,1,0,3.917738,3.756830,3.837284
407,1215,army of darkness,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,3.542416,4.121718,3.832067

##### Above is the top 10 movies recommonded to user 1 based on both similar user ratings and rating based on genre